src/main/mule/trainer-utilization-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-utilization" doc:id="38b0f1ed-38c0-4fc1-b7fc-3fc3297dd8a6" >
		<set-variable value="" doc:name="distinctBatch" doc:id="5c98a5c8-de8a-448f-8666-7721a2b540e9" variableName="distinctBatch"/>
		<set-variable value="" doc:name="distinctTrainer" doc:id="a32fe647-f50e-40e6-b737-e4e6c3599c65" variableName="distinctTrainer"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="e9aff7cc-5e0f-4292-8560-592ba0292432" >
			<route >
				<http:request method="GET" doc:name="GET /batch/current" doc:id="d1187ea7-d90c-4cac-b2d4-5a00bc72bf4d" config-ref="utlization_HTTP_Request_configuration1" path="${get-current-batch.path}"/>
				<ee:transform doc:name="Transform Message" doc:id="2ca82221-7024-472a-91d9-e016909ac887" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/dw
---
flatten(payload map{
	email: $.employeeAssignments.employee.email[0],
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[%dw 2.0&#10;output application/dw&#10;---&#10;[]]" doc:name="listBatches" doc:id="40baa358-a016-4e59-accd-0ddcde443f00" variableName="listBatches"/>
				<foreach doc:name="For Each" doc:id="d7e8e16e-3783-4540-abbd-74e1dd9c9c79" collection="payload">
					<ee:transform doc:name="Transform Message" doc:id="0011fbb4-a6c1-4c9d-84e7-baef7f547e66" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="listBatches" ><![CDATA[%dw 2.0
output application/java
---
vars.listBatches << payload.email]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</foreach>
				<ee:transform doc:name="distinctBatch" doc:id="c914684b-fbac-4dae-9198-a529f81936d1">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="distinctBatch" ><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/dw
---
(vars.listBatches distinctBy (value) -> {"unique": value}) countBy ($ != null)]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="438e8ac7-c63c-4031-9466-72749903db48" />
			</route>
			<route >
				<http:request method="GET" doc:name="GET /batch/trainers" doc:id="c20a2791-3bd7-47ab-8da4-c29c071a3c62" config-ref="utlization_HTTP_Request_configuration1" path="${get-all-trainers.path}"/>
				<ee:transform doc:name="Transform Message" doc:id="cea80a14-0b33-408d-ae01-3f246a508da6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/dw
---
payload map{
	email: $.email,
	firstName: $.firstName,
	lastName: $.lastName,
	tier: $.tier
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[%dw 2.0&#10;output application/dw&#10;---&#10;[]]" doc:name="listTrainers" doc:id="525f6946-8c8c-47dd-8806-1db92ddf52df" variableName="listTrainers"/>
				<foreach doc:name="For Each" doc:id="c5efc40d-682e-486f-a288-6fb88e6331bc" >
					<ee:transform doc:name="Transform Message" doc:id="d6f8d2c9-39bb-4a8e-9ac6-a808c0dbdb6f" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="listTrainers" ><![CDATA[%dw 2.0
output application/java
---
vars.listTrainers << payload.email]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</foreach>
				<ee:transform doc:name="distinctTrainer" doc:id="d3df6a0e-c2ea-4f99-a09f-c9e0c3ef72a5" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="distinctTrainer" ><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/dw
---
(vars.listTrainers distinctBy (value) -> {"unique": value}) countBy ($ != null)]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="7202eb73-0fab-420f-9fd7-eef63ed3869d" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="0d05b2f0-36ce-4f87-bd20-80f8e75c7b25" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Trainer Utilization": (vars.distinctBatch / vars.distinctTrainer) * 100]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="trainer-utilization-implFlow" doc:id="0a41d352-5d68-4055-bf20-cc68d29bf884" >
		<ee:transform doc:name="Transform Message" doc:id="8dc53b1b-69ae-45ad-8e6f-a374380631c9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/dw
---
{"Current Batch" : payload countBy ($.email != null)}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="1e01cd03-70cc-43a5-a529-6110d6f1d7ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/dw
---
payload map{
	email: $.email,
	firstName: $.firstName,
	lastName: $.lastName,
	tier: $.tier
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
